.top-reviews-section {
    padding: 200px 40px 100px;
    border-bottom: 2px solid #000;
}

.top-reviews-headline {
    font-size: 32px;
    text-transform: uppercase;
}

.change-news-section {
    margin-top: 150px;
}

.top-reviews-block {
    display: flex;
    justify-content: space-around;
    padding: 20px 0;
    flex-wrap: wrap;
}

.top-reviews-video {
    margin-bottom: 20px;
}

.top-reviews-block-item {
    text-align: center;
    line-height: 2;
}

.all-routes-headline {
    font-size: 32px;
    padding: 50px;
}

.all-routes-block {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    text-align: center;
}

.all-routes-block-item {
    margin: 25px;
    line-height: 2;
}

.popular-block {
   padding: 40px;
}

.popular-block-item {
    display: flex;
    align-items: center;
    background-color: #ebebeb;
    margin: 80px 0;
}

.popular-block-item:nth-child(even) {
    flex-direction: row-reverse;
}

.popular-img-block {
    margin: 40px;
    width: 50%;
}

.popular-text-block {
    display: flex;
    font-size: 20px;
    line-height: 1.4;
    padding: 40px;
    width: 50%;
}

@media (max-width: 768px) {
    .popular-block-item {
        flex-wrap: wrap;
    }

    .popular-img-block {
        width: 100%;
    }

    .popular-text-block {
        width: 100%;
    }
}

.filter-block {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 100px 100px 60px;
}

.filter-block-item {
    margin: 5px;
}

.news-block {
    margin: 100px;
    text-align: center;
    border-bottom: 1px solid;
}

.change-news-block {
    display: flex;
    padding: 0 40px;
    justify-content: space-between;
}

.change-news-block-btn-img {
    width: 25px;
}

.main-news-img{
    width: 100%;
    height: 500px;
}

.main-news-description {
    padding: 40px 0;
    line-height: 1.6;
}

.additional-news-description {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.news-date {
    color: grey;
}

.news-btn {
    display: flex;
    align-items: center;
}

.share-btn {
    background: transparent;
    border: none;
    margin-right: 25px;
}

.detail-btn-img {
    width: 25px;
}

.more-news-block {
    text-align: center;
    padding: 60px;
}

.more-news-btn {
    padding: 30px 60px;
    border-radius: 35px;
}

.more-news-btn-img {
    width: 25px;
}


@media (max-width:768px) {
    .news-block {
        padding: 10px 40px;
    }

    .main-news-description {
        padding: 35px 20px;
    }
}

.video-review-block {
    display: flex;
    padding: 40px;
    padding-top: 150px;
}

.back-video-review-btn {
    margin-bottom: 40px;
}

.back-video-review-img {
    width: 25px;
}

.video-review-block-item-headline-block {
    margin-bottom: 20px;
    line-height: 1.4;
}

.video-review-block-item-headline-main {
    font-size: 32px;

}

.video-review-block-item:first-child {
    width: 70%;
}

.video-review-img-block {
    margin-bottom: 50px;
}

.offer-block-headline {
    font-size: 32px;
    text-align: center;
    margin-bottom: 20px;
}

.video-review-tag-block {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.video-review-tag-item {
    margin: 20px;
    text-align: center;
}

.video-review-tag-complexity {
    font-size: 20px;
}

.video-review-tag-complexity-img {
    width: 15px;
    margin: 5px;
}

.video-description-block {
    padding: 0 40px;
}

.video-description-block-text {
    border: 1px solid #000;
    padding: 50px;
    width: 80%;
    margin-bottom: 40px;
}

.video-description-block-item-btn-block {
    text-align: center;
    margin-bottom: 100px;
}

.rating-section {
    padding: 0 40px;
}

.rating-block {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.add-comment-btn-block {
    text-align: center;
}

.user-headline-block {
    display: flex;
}

.rating-block-item {
    width: calc(100%/2 - 50px);
    margin: 20px 0;
    align-self: center;
    background: #ebebeb;
    border-radius: 15px;
    padding: 20px;
}

.user-headline-block {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
}

.rating-headline-block-star {
    display: flex;
}

.rating-headline-star {
    width: 45px;
    margin: 20px;
}

.rating-headline-block-text {
    font-size: 22px;
}

.user-rating-block {
    margin-right: 35px;
}

.user-rating-item {
    width: 25px;
    margin: 10px;
}

.user-name-block {
    line-height: 1.4;

}

.user-name {
    font-size: 26px;
}

.more-comments-btn-block {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}

.more-comments-block {
    display: flex;
    justify-content: center;
}

.more-comments-block-item {
    display: flex;
    justify-content: center;
}

.more-comments-text {
    font-size: 20px;
}

.more-comments-btn {
    background: transparent;
    border-radius: 50%;
    border: none;
}

.add-more-comments-img {
    width: 50%;
}

.check-us-img {
    width: 25%;
}

.check-us-text {
    align-self: center;
    font-size: 26px;
}

.add-comment-block {
    width: 50%;
}

@media (max-width: 1280px) {
    .video-review-block {
        flex-direction: column;
    }
    .offer-block {
        flex-direction: row;
    }
}

@media (max-width: 768px) {
    .rating-block-item {
        width: calc(100%/1 - 50px);
    }
}

.routes-block {
    text-align: center;
    padding: 100px;
}

.routes-headline {
    margin-bottom: 35px;
    font-size: 26px;
    padding: 0 250px;
}

.rating-block {
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.rating-area {
    overflow: hidden;
    width: 265px;
    margin: 0 auto;
}

.rating-area:not(:checked)>input {
    display: none;
}

.rating-area:not(:checked)>label {
    float: right;
    width: 42px;
    padding: 0;
    cursor: pointer;
    font-size: 32px;
    line-height: 32px;
    color: lightgrey;
    text-shadow: 1px 1px #bbb;
}

.rating-area:not(:checked)>label:before {
    content: '★';
}

.rating-area>input:checked~label {
    color: gold;
    text-shadow: 1px 1px #c60;
}

.rating-area:not(:checked)>label:hover,
.rating-area:not(:checked)>label:hover~label {
    color: gold;
}

.rating-area>input:checked+label:hover,
.rating-area>input:checked+label:hover~label,
.rating-area>input:checked~label:hover,
.rating-area>input:checked~label:hover~label,
.rating-area>label:hover~input:checked~label {
    color: gold;
    text-shadow: 1px 1px goldenrod;
}

.rate-area>label:active {
    position: relative;
}

.rating-block-img {
    border-bottom: 1px solid #000;
    text-align: center;
    padding: 10px;
    margin-bottom: 25px;
}

.rating-img {
    width: 25px;
}

.your-comment-block {
    display: flex;
    flex-direction: column;
    padding: 40px;
}

.your-comment-name,
.your-comment-email {
    max-width: 35%;
    padding: 10px;
    margin: 25px 0;
    border: 2px solid #000;
    border-radius: 10px;
}

.your-comment-text {
    max-width: 65%;
    padding: 10px;
    border: 2px solid #000;
    border-radius: 10px;
}

.add-your-comment-btn-block {
    text-align: center;
    margin: 0 50px 75px;
}