.filter-block {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 100px 100px 60px;
}

.filter-block-item {
    margin: 5px;
}

.news-headline-block {
    padding: 40px;
    border-bottom: 2px solid #000;
    margin-bottom: 40px;
}

.news-headline-text {
    font-size: 26px;
    line-height: 1.4;
    margin-bottom: 25px;
}

.news-headline-date {
    color: grey;
}

.change-news-block {
    display: flex;
    padding: 0 40px;
    justify-content: space-between;
    margin-bottom: 100px;
}

.change-news-block-btn-img {
    width: 25px;
}

.news-item-img {
    padding: 40px 200px;
}

.news-item-text {
    padding: 30px 100px;
    text-align: center;
    font-size: 20px;
}

.news-item-img {
    width: 100%;
}

.news-item-comment-text {
    padding: 100px 40px;
}