.video-review-block {
    display: flex;
    padding: 40px;
    padding-top: 150px;
}

.back-video-review-btn {
    margin-bottom: 40px;
}

.back-video-review-img {
    width: 25px;
}

.video-review-block-item-headline-block {
    margin-bottom: 20px;
    line-height: 1.4;
}

.video-review-block-item-headline-main {
    font-size: 32px;

}

.video-review-img-block {
    margin-bottom: 50px;
}

.offer-block-headline {
    font-size: 32px;
    text-align: center;
    margin-bottom: 20px;
}

.video-review-tag-block {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.video-review-tag-item {
    margin: 20px;
    text-align: center;
}

.video-review-tag-complexity {
    font-size: 20px;
}

.video-review-tag-complexity-img {
    width: 15px;
    margin: 5px;
}

.video-description-block {
    padding: 0 40px;
}

.video-description-block-text {
    border: 1px solid #000;
    padding: 50px;
    width: 80%;
    margin-bottom: 40px;
}

.video-description-block-item-btn-block {
    text-align: center;
    margin-bottom: 100px;
}

.rating-section {
    padding: 0 40px;
}

.rating-block {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.add-comment-btn-block {
    text-align: center;
}

.user-headline-block {
    display: flex;
}

.rating-block-item {
    width: calc(100%/2 - 50px);
    margin: 20px 0;
    align-self: center;
}

.user-headline-block {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
}

.rating-headline-block-star {
    display: flex;
}

.rating-headline-star {
    width: 45px;
    margin: 20px;
}

.rating-headline-block-text {
    font-size: 22px;
}

.user-rating-block {
    margin-right: 35px;
}

.user-rating-item {
    width: 25px;
    margin: 10px;
}

.user-name-block {
    line-height: 1.4;

}

.user-name {
    font-size: 26px;
}

.more-comments-btn-block {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}

.more-comments-block {
    display: flex;
    justify-content: center;
}

.more-comments-block-item {
    display: flex;
    justify-content: center;
}

.more-comments-text {
    font-size: 20px;
}

.more-comments-btn {
    background: transparent;
    border-radius: 50%;
    border: none;
}

.add-more-comments-img {
    width: 50%;
}

.check-us-img {
    width: 25%;
}

.check-us-text {
    align-self: center;
    font-size: 26px;
}

.add-comment-block {
    width: 50%;
}

@media (max-width: 1280px) {
    .video-review-block {
        flex-direction: column;
    }
}

@media (max-width: 768px) {
    .rating-block-item {
        width: calc(100%/1 - 50px);
    }
}