body {
    font-family: 'Open Sans';
}

img {
    width: 100%;
}

a {
    text-decoration: none;
    color: #000;
}

.container {
    max-width: 1920px;
    margin: 0 auto;
}

.header {
    width: 100%;
    position: fixed;
    background: transparent;
    display: flex;
    justify-content: space-between;

}

.logo {
    display: flex;
    flex-direction: column;
    margin: 10px 0 0 25px;
}

.logo-img {
    width: 70px;
    margin-bottom: 10px;
}

.logo-headline {
    color: #000000;
    font-size: 32px;
}

.menu-burger {
    width: 60px;
}

.trail-btn {
    border: 1px solid #000000;
    border-radius: 15px;
    background: transparent;
    padding: 10px 30px;
}

.trail-btn:hover {
    background: #ebebeb;
} 

.title {
    font-size: 24px;
    text-transform: uppercase;
    margin: 50px 20px 30px;
}

.detail-block {
    display: flex;
    justify-content: space-around;
    padding: 40px 0;
}

.detail-block-btn {
    background: transparent;
    border: 1px solid #000000;
    border-radius: 5px;
    padding: 15px 35px;
}

.footer-block {
    background: #7DA453;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    padding: 20px;
    color: #ffffff;
    line-height: 2;
}

.soc-net-img {
    width: 35px;
}

.share-btn-img {
    width: 25px;
}

.offer-section {
    padding-bottom: 120px;
}

.offer-block {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px;
}

.offer-block-item {
    width: 300px;
    margin: 10px;
}

.offer-img {
    width: 100%;
}

.offer-description {
    text-align: center;
    text-decoration: underline;
    padding: 15px 50px;
    font-size: 18px;
}

.offer-additional-block {
    text-align: center;
}

.offer-headline {
    font-size: 20px;
    margin: 40px;
}

.more-offer-btn {
    font-size: 24px;
    font-weight: bold;
    padding: 15px 60px;
}

/* Popup start */

.popup {
    display: flex;
    justify-content: center;
}

.openPopup {
    padding: 0;
    border: none;
    background: transparent;
}

#fspboverlay {
    display: none;
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background: #000000;
    opacity: 0.8;
    z-index: 99999;
}

#popup-banner {
    display: none;
    position: fixed;
    z-index: 100000;
    top: 10%;
}

.popup-banner {
    display: flex;
}

.banner-readme {
    justify-content: space-around;
    position: absolute;
    width: 100%;
    text-align: center;
    height: 100%;
}

.banner-readme-item {
    margin: 35px;   
}

.banner-readme-btn {
    background: rgba(0, 0, 0, 0.3);
    width: 100%;
    color: #ffffff;
}

.banner-readme-btn:hover {
    background: rgba(0, 0, 0, 0.7);
    width: 100%;
    color: #ffffff;
}

.popup-image {
    border-radius: 5%;
}

#CloseBtn {
background: #ffffff;
color: #000000;
}

#CloseBtn:hover {
    background: #ebebebbb;
    color: #000000;
    }

@media only screen and (max-device-width: 1024px) {
    #popup-banner {
        margin-left: 0%;
    }
}

@media (max-width: 767px) {
    .bannerreadme {
        text-align: center;
    }
}